# Entorno virtual
.venv/

# Base de datos local
db.sqlite3

# Variables de entorno
.env

# Archivos temporales Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/